/* Styling the website */
body {
    background-image: url(../media/city.png), linear-gradient(to bottom, #EBE89B 10%, #4ED1F2 30%);
    background-repeat: repeat-x;
    background-position: top center;
    background-size: 700px auto;
    background-attachment:fixed;
    background-blend-mode: color-burn; 
}

/* show image can be clicked*/
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.header{
    text-align: center;
    font-family: Helvetica;
    font-weight: bolder;
    color: white;
    font-size: 4.4em;
    text-decoration:underline;
    margin-bottom: 0px;
    margin-top: 110px;
}
.time{
    text-align: center;
    color: white;
}

/*Page Indicator*/
.banner{
    display:block;
    min-width: 160px;
    text-align: center;
    width:auto;
    height: auto;
    color: #f1f1f1;
    background-color: #4D3DEB;
    margin: 0px;
    border: solid;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-color: #4E7AF2;
}
/* A new color for every seperate catagory */
.category{
    color: #4E7AF2;
}
/* Information display */
.text {
    font-family: sans-serif;
    font-size: 1em;
    background: #f1f1f1;
    padding: 1px 20px 20px;
    border: solid;
    border-width: 10px;
    border-color: #4E7AF2;
    color: black;
    display: flex;
}
.right{
    float: right;
    padding-left: 20px;
    padding-bottom: 10px;
}
.left{
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
}

/* List items */
.title {
    text-decoration: underline;
}
.rubric li{
    list-style: circle;
    list-style-position: inside;
}
.sources li {
    text-indent: -30px; 
    list-style: none;
}
ul li {
    padding-left: 30px;
    padding-bottom: 10px;
    word-break: break-all;
}

/* How the dropdown menu functions */
a {
    text-decoration: none;
}
p a{
    color: #4E7AF2;
}
.nav{
    background-color: #4E7AF2;
    text-align: center;
    padding: 20px; 
}
.dropbtn, .menu {
    font-family: sans-serif;
    background-color: #4D3DEB;
    color: white;
    padding: 16px;
    font-size: 18px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #F3C824;}
.menu:hover, .banner:hover {background-color: #F3C824; }


/* Smaller Screens 
@media screen and (min-width: 600px max-width: 700px) {
    .dropdown{
        padding: 1px;
        margin: 1px;
    }
}
@media screen and (max-width: 600px){
    
}
*/