h1 { /* top heading */
    color: #FFDFC1;
    font-family: verdana;
    font-size: 200%;
    padding-bottom: 20px;
    padding-top: 0px;
    background-color: black;
    background-position: top;
}
p {
    font-family: sans-serif;
    color: #FFDFC1;
    font-size: 150%;
}
html{
    background: linear-gradient(to bottom, #e56b6f 0%, #6d597a 100%);
}
.profile{ /* profile picture box */
    align-content: center;
    border-style:solid;
    border-color: black;
}
.bio { /* smaller text/ centered under profile */
    text-align: center;
    font-family: sans-serif;
    font-size: 70%;
}
.center { /* class for centering things */
    text-align: center;
    align-content: center;
    float: none;
}

/* hidden/ reveal boxes at the bottom of the page*/
div.hidden { /* hide stuff until hovering over them */
    border-style: solid;
    border-color:black;
    display: none; 
    background-color: #B56576;
} 
a.box {
    padding-left: 30px;
    padding-right: 30px;
}
a.box:hover + div.hidden { /* when hovering, reveal */
    display: inline-block;
    font-size: 20px; 
}
a.box:hover { /* hide original image */
    display: none;
}
#box1 { /* exercises box */
    padding: 10px;
}
#box2 { /* project boxes */
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
#box3 { /* project boxes */
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

/* link colors & style */
a:link{
    color: black;
}
a:visited{
    color:#FFDFC1;
}
a:hover{
    color:cornsilk;
    text-decoration-line:underline;
}
a:active{
    color:#6d597a;
}